:root{
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--GrisOscuro: #666;
--GrisClaro: #ebebeb;
--Verde: #39b54a;
--Blanco: #fff;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.header-enlaces{
    display: none;
    margin-left: 8px;
}

header{
    background-color: var(--Amarillo);
    font-size: 12px ;
    padding-bottom: 10px;
}
.busqueda{
margin-left: 20px;
} 


.hearder-compra{
    margin:15px;
    text-align: center;
}

a {
    color: black;
    cursor:pointer;
}
.home-logo{
    width:30%; height:30%;
    margin-left: 20px;
}

.burger-menu {
    background-color: var(--Celeste);
    border-radius: 10%;
    display: block;
    width: 40px;
    text-align: center;
    margin:auto;
    padding: 5px 5px; 
    font-size: 23px;   
    color: var(--Blanco);
}

@media(min-width:361px){
    body header{
        .burger-menu{
            display: none;
        }
        .header-enlaces{
            display: inline-block;
        }

    }
}

footer article{
    margin-bottom: 50px;
}

footer{
    text-align: center;
    margin-top: 50px;
}
footer p{
    color: var(--GrisOscuro);
    font-size: 12px ;
}

footer h4{  
    color: var(--GrisOscuro);
}

footer i {
    color:var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
    }

