:root{
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--GrisOscuro: #666;
--GrisClaro: #ebebeb;
--Verde: #39b54a;
--Blanco: #fefefe;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--Amarillo);
    font-size: 12px ;
}
.busqueda{
margin-left: 20px;
} 

.hearder-compra{
    margin-left: 50px;
}

a {
    color: black;
    cursor:pointer;
}
.home-logo{
    width:30%; height:30%;
    margin-left: 20px;
}

.burger-menu {
    background-color: var(--Celeste);
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    margin-left: 50%;
    padding: 3px; 
    font-size: 30px;   
    color:var(--Blanco);
}

footer article{
    margin-bottom: 50px;
}

footer{
    text-align: center;
    margin-top: 50px;
}
footer p{
    color: var(--GrisOscuro);
    font-size: 12px ;
}

footer h4{  
    color: var(--GrisOscuro);
}

footer i {
    color:var(--Azul);
    font-size: 2em;
    margin-bottom: 10px;
    }