

main {
    background-color: #ebebeb;
    width: 100vw;
}

main div {
    font-size: 18px;
}
main section article{
    margin: 10px 10px;
    background-color:white;
}

.home-descuentos{
    font-size: 16px;
    color: #39b54a;

    }

h3{
    color: #666;
    font-size: 24px;
}
