main {
    background-color: var(--GrisClaro);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

main section{
    width: 90%;
}
main section h3{
margin: 1vh;
}
main section h4{
    color: var(--GrisOscuro);
}

main div {
    font-size: 18px;
}
main section article{
    display: flex;
    margin: 10px 10px;
    background-color:var(--Blanco);
    justify-content: center;
    flex-direction: column;

    
}

main section article i{
    display:block;
    color:var(--Verde);
    border: solid 1px;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    position: relative;
    height: 30px;
    width: 30px;
    bottom: -15px;
    left:80%;
    transition: 1.5s;

}

main section article i:hover{
    transform:rotate(-90deg) ;
}

.descripcion{
    font-size: 16px;
    margin: 5px 0px 5px 15px;
    opacity: 0%;
    transition: all 1.5s;
}

main section article:hover{
    .descripcion{  opacity: 100%;;
}  }



.home-info-productos p{
    margin: 5px 0px 5px 15px;
    
}

.home-precios-descuentos{
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
    border-top:var(--GrisClaro) solid 1px;

}

.article{
    transition: box-shadow 1.5s;
}

.article:hover{
    box-shadow: 0px 0px 50px  rgba(0, 0, 0, 0.5);
}

.home-precios{
    flex:30%;
}
.home-descuentos{
    font-size: 16px;
    color: var(--Verde);
    flex:70%;
}

h3{
    color:var(--GrisOscuro);
    font-size: 24px;
    
}
