main {
    background-color: var(--GrisClaro);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

main section{
    width: 90%;
}
main section h3{
margin: 1vh;
}
main section h4{
    color: var(--GrisOscuro);
}

main div {
    font-size: 18px;
}
main section article{
    display: flex;
    margin: 10px 10px;
    background-color:var(--Blanco);
    justify-content: center;
    flex-direction: column;
    
}

main section article i {
    color: var(--Verde);
    font-size: 15px;
    margin: 5px 0px 5px 15px;
    border: solid 1px;
    border-radius: 50%;
    padding: 1%;
} 

.home-info-productos{
    border-top:var(--GrisClaro) solid 1px;

}

.home-info-productos h4{
    font-size: 16px;
    margin: 5px 0px 5px 15px;
}

.home-info-productos p{
    margin: 5px 0px 5px 15px;
}


.home-descuentos{
    font-size: 16px;
    color: var(--Verde);

}

h3{
    color:var(--GrisOscuro);
    font-size: 24px;
    
}
