@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200&family=Open+Sans:wght@300&family=Raleway:wght@700&family=Roboto:wght@300&display=swap');


header{
    background-color: #EAC926; 
}

.home-logo{
    width:15%; height:30%;
    margin-left: 20px;
}

.barra-home{
    margin-left: 50px;
}

.home-compra{
    margin-left: 80px;
}

ul{
    list-style: none;
}
li{
    margin-left: -40px;
}

.burger-menu {
    background-color: #1259c3;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    margin-left: 50%;
    padding: 3px; 
    font-size: 30px;   
    color:white;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #ebebeb;
}

h3{
    color: #666;
}

footer p{
    color: #666;
    margin-top: 50px;
}

footer h4{
    margin-left: 330px;
    color: #666;
}

footer div{
    margin-left: 400px;
    color: #1259c3;
    font-size: 50px;
}
