<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <section>
        <article>
          <img src="/images/logo-mercado-liebre.svg" alt="Logo" />
        </article>

        <article>
          <p>Lugar para poner barra de búsqueda</p>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </article>

        <article>
          <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
        </article>

        <article>
          <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
          </ul>
        </article>
      </section>
    </header>

    <main>
      <section>
        <article>
          <h3>Basado en tu última visita</h3>
          <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
          <p>$6.770<br /><br />40% Off</p>
        </article>

        <article>
          <h4>Cafetera Moulinex</h4>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
          <p>$230.000<br><br>20% Off</p>
          <h4>MacBook Pro 2019</h4>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" />
          <p>$70.500<br><br>10% Off</p>
          <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" />
          <p>$23.200<br><br>5% Off</p>
          <h4>SmartTv Samsung 43"</h4>
        </article>
      </section>

      <section>

        <article>
        <h3>Sección de Ofertas</h3>
        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
          <p>$6.770<br><br>40% Off</p>
        </article>

        <article>
          <h4>Cafetera Moulinex</h4>
          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
          <p>$230.000<br><br>20% Off</p>
          <h4>MacBook Pro 2019</h4>
        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" />
          <p>$70.500<br><br>10% Off</p>
          <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" />
          <p>$23.200<br /><br />5% Off</p>
          <h4>SmartTv Samsung 43"</h4>
      </section>
    </main>

    <footer>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
        puntos de <br> pago. ¡Y siempre es seguro!</p>

          <h4>Envío gratis desde $ 2.500</h4>
          <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
            productos. Es <br> un beneficio de Mercado Puntos.</p>

          <h4>Seguridad, de principio a fin</h4>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer,
            porque estás <br> siempre protegid@.</p>

          <p> Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
  </body>
</html>
